<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pessoas</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Pessoas Cadastradas</h1>
<h3><a href="/cadastroPessoa" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Cadastrar
    Pessoa</a></h3>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <d th:each="pessoa : ${pessoas}">
        <tr class="row">
            <td><span th:text="${pessoa.nome}"></span></td>
            <td><span th:text="${pessoa.cpf}"></span></td>
            <td><span th:text="${pessoa.telefone}"></span></td>
        </tr>
    </d>
    </tbody>
</table>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>