<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://192.168.255.128:3306/DBIFS</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="br.edu.ifs.seguir.model.AejcoordenadaEntity"/>
        <mapping class="br.edu.ifs.seguir.model.AejempresaEntity"/>
        <mapping class="br.edu.ifs.seguir.model.AejequipamentoEntity"/>
        <mapping class="br.edu.ifs.seguir.model.AejpessoaEntity"/>
        <mapping class="br.edu.ifs.seguir.model.AejservicoEntity"/>
        <mapping class="br.edu.ifs.seguir.model.AejveiculoEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>