<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Editar</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div>
    <h1>Student Enrollment Form</h1>
    <form action="#" th:action="@{/editsave}" th:object="${pessoa}" method="post">
        <input type="hidden" th:value="${id}" th:field="*{idPessoa}"/>
        <table>
            <tr>
                <td width="10%">Nome Completo :</td>

                <td width="90%" align="left">
                    <input type="text" th:field="*{nome}"/>
                    <!--label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="'error'">Error
                        in First Name</label></td-->
            </tr>
            <tr>
                <td>Data de Cadastro:</td>
                <td><input type="date" th:="*{dtCadastro}"/>
                    <!--label th:if="${#fields.hasErrors('dtCadastro')}" th:errors="*{dtCadastro}" th:class="'error'">Error
                        in Last Name</label-->
                </td>
            </tr>
            <tr>
                <td> Email :</td>
                <td><input type="text" th:field="*{email}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Data de Nascimento :</td>
                <td><input type="date" th:field="*{dtNascimento}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> CPF :</td>
                <td><input type="text" th:field="*{cpfCnpj}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Número do RG :</td>
                <td><input type="text" th:field="*{rg}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Logradouro :</td>
                <td><input type="text" th:field="*{logradouro}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Telefone :</td>
                <td><input type="text" th:field="*{telefone}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td>Cidade :</td>
                <td>
                    <select th:field="*{cidadeByIdCidade}">
                        <option th:each="country : ${cidades}" th:value="${cidades}" th:text="${cidades}">
                            Country
                        </option>
                    </select>
                    <!--label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:class="'error'">Error
                        in Country</label-->
                </td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td>
                    <input type="radio" th:field="*{sexo}" value="Masculino"/><label>Masculino</label>
                    <input type="radio" th:field="*{sexo}" value="Feminino"/><label>Feminino</label>
                    <!--label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" th:class="'error'">Error</label-->
                </td>
            </tr>
            <!--tr>
                <td>Section :</td>
                <td>
                    <select th:field="*{section}">
                        <option th:each="section : ${sections}" th:value="${section}" th:text="${section}">Section
                        </option>
                    </select>
                </td>
            </tr-->
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Editar"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>