<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SeguirAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/viewpessoas">Pessoas Cadastradas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <h1>Cadastro de Pessoa</h1>
    <form action="#" th:action="@{/save}" th:object="${pessoa}" method="post">
        <table>
            <tr>
                <td width="10%">Nome Completo :</td>

                <td width="90%" align="left">
                    <input type="text" th:field="*{nome}"/>
                    <!--label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="'error'">Error
                        in First Name</label></td-->
            </tr>
            <tr>
                <td>Data de Cadastro:</td>
                <td><input type="date" th:field="*{dtCadastro}"/>
                    <!--label th:if="${#fields.hasErrors('dtCadastro')}" th:errors="*{dtCadastro}" th:class="'error'">Error
                        in Last Name</label-->
                </td>
            </tr>
            <tr>
                <td> Email :</td>
                <td><input type="text" th:field="*{email}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Data de Nascimento :</td>
                <td><input type="date" th:field="*{dtNascimento}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> CPF :</td>
                <td><input type="text" th:field="*{cpfCnpj}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Número do RG :</td>
                <td><input type="text" th:field="*{rg}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Logradouro :</td>
                <td><input type="text" th:field="*{logradouro}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td> Telefone :</td>
                <td><input type="text" th:field="*{telefone}"/>
                    <!--label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error'">Error in
                        Email address</label-->
                </td>
            </tr>
            <tr>
                <td>Estados: </td>
                <td>
                    <select name="estados">
                        <option th:each="estado : ${ls}"
                                th:value="${estado.idEstado}"
                                th:selected="${estado.idEstado == selecionado.idEstado}"
                                th:text="${estado.nome}"></option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>Gender :</td>
                <td>
                    <input type="radio" th:field="*{sexo}" value="Masculino"/><label>Masculino</label>
                    <input type="radio" th:field="*{sexo}" value="Feminino"/><label>Feminino</label>
                    <!--label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" th:class="'error'">Error</label-->
                </td>
            </tr>
            <!--tr>
                <td>Section :</td>
                <td>
                    <select th:field="*{section}">
                        <option th:each="section : ${sections}" th:value="${section}" th:text="${section}">Section
                        </option>
                    </select>
                </td>
            </tr-->
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Salvar"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/static/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>