<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SeguirApp</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Pessoas</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Data Nascimento</th>
                    <th>CPF / CNPJ</th>
                    <th>RG</th>
                    <th>Sexo</th>
                    <th>Data de Cadastro</th>
                    <th>Email</th>
                    <th>Logradouro</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pessoa : ${pessoas}">
                    <td th:text="${pessoaStat.id}"></td>
                    <td th:text="${pessoa.autor}"></td>
                    <td th:text="${pessoa.titulo}"></td>
                    <td th:text="${#dates.format(pessoa.data, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${pessoa.id})}" >Editar</a>
                            <a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${pessoa.id})}">Excluir</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/pessoaAdd.html}" >Adicionar</a>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>