<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Pessoa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<h1 align="center">Lista de Pessoas</h1>
<table id="t02" cellpadding="2">
    <tr>
        <th>
            <a href="/index"><h2>Pessoas Cadastradas</h2></a>
        </th>
        <th>
            <a align="right" href="/delete"><h2>Excluir todas as pessoas</h2></a>
        </th>
    </tr>
</table>
<table>
</table>

    <table id="t01" border="2" width="70%" cellpadding="2">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Date Modified</th>
            <th>Email</th>
            <th>Section</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="pessoas : ${pessoa}">
            <td th:text="${pessoa.i}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.sex}"></td>
            <td th:text="${student.createdAt}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.section}"></td>
            <td th:text="${student.country}"></td>
            <td><a th:href="@{'/editstudent/' + ${student.id}}">Edit</a></td>
            <td><a th:href="@{'/deletestudent/' + ${student.id}}">Delete</a></td>
        </tr>
    </table>
    <br/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>