<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Pessoa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<h1 align="center">Lista de Pessoas</h1>

<table id="t01" border="2" width="70%" cellpadding="2">
    <tr>
        <th>ID Pessoa</th>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Data de Cadastro</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>CPF</th>
    </tr>

    <tr th:each="pessoa : ${pessoas}">
        <td th:text="${pessoa.idPessoa}"></td>
        <td th:text="${pessoa.nome}"></td>
        <td th:text="${pessoa.sexo}"></td>
        <td th:text="${pessoa.dtCadastro}"></td>
        <td th:text="${pessoa.email}"></td>
        <td th:text="${pessoa.logradouro}"></td>
        <td th:text="${pessoa.telefone}"></td>
        <td th:text="${pessoa.cpfCnpj}"></td>


        <td><a th:href="@{'/editstudent/' + ${pessoa.idPessoa}}">Edit</a></td>
        <td><a th:href="@{'/deletestudent/' + ${pessoa.idPessoa}}">Delete</a></td>
    </tr>
</table>
<br/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>